<!DOCTYPE html>
<html>
  <body>
    <h2>About Me</h2>
    <div class="container about-text">
      <p>My name is Garrett Chesnut. I am a Ruby on Rails and Front End Developer, 
      looking for an oppotunity to pursue my passion: developing web applications. I 
      originally went to college to pursue a career in Biochemisty. However, while 
      working at Amazon, I found I had a passion for coding when I began automating 
      repetitive tasks in Excel using VBA. I have since dove headfirst into local 
      communities, meetups, and online classes. My skills include Ruby, Ruby on Rails,
       JavaScript, Vue, HTML, CSS, SCSS, SQL, and VBA. Please checkout my GitHub to see,
       my work, and feel free to contact me with any questions you might have.</p>
    </div>
  </body>
</html>