<!DOCTYPE html>
<html>
  <head>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
  </head>
  <body>

    <div class="container-fluid">

      <div class="row home-background">
        <div class="col-md-4 offset-md-2 float-left" id="home">
          <h1 class="home-text">Designer and Full Stack Developer</h2>
          <h4 class="home-text">
            I design and code websites that are equal parts simple and elegant
          </h4>
        </div>

        <div class="col-md-4 offset-md-6 float-right">
          <%= image_tag "garrettProfile.jpg", :alt => "rss feed", class: "profile-image center" %>
        </div>
      </div>

      <div class="row about-background" id="about">
        <div class="col-md-8 offset-md-2">
          <h1 class="about-text">Hi! My name's Garrett. Nice to meet you.</h1>
        </div>
        <div class="col-md-6 offset-md-3">
          <h4 class="about-text">
            I've been trekking down the tough yet rewarding road of web development since February
            of 2018. I have worked for the past 2 years as a data analyst, and through my work,
            have found a passion for designing websites and writing code. I am naturally curious,
            willing to take on any challenge, and have an unquenchable thirst for knowledge.
          </h4>
        </div>
      </div>

      <div class="row skills-background">
        <div class="col-md-6 offset-md-3">
          <div class="card-group border-dark">
            <div class="card">
              <div class="card-body border-secondary">
                <i class="fas fa-laptop-code skills-card-margin"></i>
                <h5 class="card-title card-body-font">Front-end Developer</h5>
                <p class="skills-card-margin card-body-font">I code front-end from the
                ground up, designing sleek yet functional browser experiences</p>
                <p class="card-sub-title card-body-font">Fluent languages:</p>
                <p class="card-text skills-card-margin card-body-font">HTML, CSS, JavaScript, Sass</p>
                <p class="card-sub-title card-body-font">Dev Tools:</p>
                <ul class="card-body-font">
                  <li>Atom</li>
                  <li>Bootstrap</li>
                  <li>Github</li>
                  <li>Terminal</li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="card-body border-secondary">
                <i class="fas fa-code-branch skills-card-margin"></i>
                <h5 class="card-title card-body-font">Back-end Developer</h5>
                <p class="skills-card-margin-2 card-body-font">I code back-end in Ruby,
                prioritizing logic and efficiency in my design</p>
                <p class="card-sub-title card-body-font">Areas of experience:</p>
                <p class="card-text skills-card-margin card-body-font">SaaS, Email Automation, E-commerce, Productivity</p>
                <p class="card-sub-title card-body-font">Dev Tools</p>
                <ul class="card-body-font">
                  <li>Devise</li>
                  <li>Heroku</li>
                  <li>Mailgun</li>
                  <li>PostgreSQL</li>
                  <li>Redshift</li>
                  <li>Stripe</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-group">

        <%= link_to 'https://real-turnover.glitch.me/', class: "card WhatToDo" do %>
          <h5 class="WhatToDo-logo"><i class="fas fa-clipboard-check"></i>What to Do?</h5>
        <% end %>

        <%= link_to 'http://still-earth-66445.herokuapp.com/', class: "card DevMatch" do %>
          <h5 class="DevMatch-logo"><i class="fas fa-users"></i>DevMatch</h5>
        <% end %>

      </div>
    </div>

  </body>
</html>
