<!DOCTYPE html>
<html>
  <head>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
  </head>
  <body>
    
    <div class="container-fluid">
      
      <div class="row about-background">
        
        <div class="col-md-4 offset-md-2 float-left">
          <h1 class="about-text">Hi! My name's Garrett. Nice to meet you.</h2>
          <h4 class="about-text">
            I've been trekking down the tough but rewarding road of web development since February 
            of 2018. I have worked for the past 2 years as a data analyst, and through my work,
            have found my passion is designing websites and writing code. I am naturally curious,
            willing to take on any challenge, and have an unquenchable thirst for knowledge
          </h4>
        </div>
        
        <div class="col-md-4 offset-md-6 float-right">
          <%= image_tag "garrettProfile.jpg", :alt => "rss feed", class: "profile-image center" %>
        </div>
        
      </div>
      
      <div class="card-group">
        
        <%= link_to 'https://real-turnover.glitch.me/', class: "card WhatToDo" do %>
          <h5 class="WhatToDo-logo"><i class="fas fa-clipboard-check"></i>What to Do?</h5>
        <% end %>
        
        <%= link_to 'http://still-earth-66445.herokuapp.com/', class: "card DevMatch" do %>
          <h5 class="DevMatch-logo"><i class="fas fa-users"></i>DevMatch</h5>
        <% end %>
        
      </div>
    </div>
    
  </body>
</html>