/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import 'bootstrap';

/* Set text color to white */
h1, h2, h3, a {
    font-family: 'PT Serif', serif;
    color: white;
    text-align: center;
}

body, .navbar {
    background: #1B1F22;
}

a {
    &:hover {
        color: white;
        opacity: .5;
    }
}

.hamburger {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 21px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    color: white;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5.4px, 3.6px) ;
    transform: rotate(-45deg) translate(-5px, 4px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.profile-image {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px black;
}

.home-background {
    background: white;
    text-align: center;
    padding: 200px 0px 200px 0px;
}

.home-text {
    font-family: 'Passion One', cursive;
    color: #3A9AFF;
    vertical-align: middle;
}

h1.home-text {
    padding-top: 58px;
}

.about-background {
    background: #3A9AFF;
    text-align: center;
    padding: 200px 0px 200px 0px;
}

.about-text {
    font-family: 'Passion One', cursive;
    color: white;
    vertical-align: center;
}

div.home-background .offset-md-6 {
    margin: 0;
}

.card {
    border-radius: 0;
    border: 0;
}

.container-fluid {
    padding: 0;
}

.DevMatch {
    background: #53346D;
}

.DevMatch-logo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    float: none;
    margin-top: 130px;
    margin-bottom: 130px;
    font-size: 28px;
}

.WhatToDo {
    background: #fc4a1a;
}

.WhatToDo-logo {
    font-family: 'Merienda', cursive;
    float: none;
    margin-top: 130px;
    margin-bottom: 130px;
    font-size: 28px;
}